body {
  background-color: var(--color-blue-950);
  display: grid;
  place-items: center;
  min-height: 100vh;
  padding-inline: 1rem;
}

.advice-card {
  display: grid;
  justify-items: center;
  gap: var(--spacing-500);
  background-color: var(--color-blue-900);
  border-radius: 0.9375rem;
  box-shadow: 30px 50px 80px rgba(0, 0, 0, 0.1);
  padding: 3rem 3rem 0 3rem;
  width: 100%;
  max-width: 33.75rem;
}

.advice-text-container {
  display: grid;
  text-align: center;
  gap: var(--spacing-300);
}

.advice-number-wrapper {
  color: var(--color-green-300);
}

.advice-quote {
  color: var(--color-blue-200);
  opacity: 100%;
  transition: all 300ms ease;
}

.advice-quote::before {
  content: "“";
}

.advice-quote::after {
  content: "”";
}

.divider-img {
  width: 100%;
}

.new-quote-btn {
  border: none;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  padding: 1.25rem;
  background-color: var(--color-green-300);
  cursor: pointer;
  transition: all 200ms;
  margin-bottom: -2rem;
  position: relative;
}

.new-quote-btn:hover {
  box-shadow: 0 0 40px var(--color-green-300);
  scale: 1.02;
}

.new-quote-btn:active {
  scale: 0.98;
}

.new-quote-btn:disabled {
  background-color: var(--color-blue-200);
}

.new-quote-btn:disabled:hover {
  box-shadow: none;
  scale: 1;
}

.new-quote-btn:disabled .loader {
  opacity: 100%;
}

.new-quote-btn img {
  opacity: 100%;
  transition: all 300ms;
}

.new-quote-btn:disabled img {
  opacity: 0%;
}

/* Spinner */
.loader {
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 25%;
  left: 25%;
  background: var(--color-blue-950);
  animation: rotate 1.5s linear infinite;
  opacity: 0%;
  transition: all 300ms;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg) scale(0.2);
    border-radius: 10%;
  }
  50% {
    transform: rotate(180deg) scale(1.5);
    border-radius: 50%;
  }
  100% {
    transform: rotate(360deg) scale(0.2);
    border-radius: 10%;
  }
}

/* Responsive design */
@media (width < 24.5rem) {
  .advice-card {
    padding: 2.5rem 23.5px 0 23.5px;
  }
}
